.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__delete-button {
  background-image: url("../images/delete-button.svg");
  top: 10px;
  left: 371px;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
}

.card__delete-button:hover {
  background-image: url("../images/delete-button-hover.svg");
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: 353px;
}

.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: cover;
  opacity: 40%;
  cursor: pointer;
  background-image: url("../images/like-button.svg");
}

.card__like-button:hover {
  opacity: 100%;
  background-image: url("../images/like-button-solid.svg");
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url("../images/heart-liked.svg");
  opacity: 1;
  cursor: pointer;
}

.card__like-button_liked:hover {
  background-image: url("../images/hover-heart.svg");
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__content {
    margin-top: 12px;
    width: 288px;
  }

  .card__title {
    width: 95px;
    font-size: 16px;
    line-height: 1;
    margin: 0;
  }

  .card__delete-button {
    top: 10px;
    left: 246px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
